#searchBar {
    font-size: 1.5rem;
    background-color: #3a3a3a;
    text-align: left;
    padding-left: calc(var(--spacing) * 2.5);
    width: 542px;
    height: 60px;
    border-radius: 0.25rem;
    outline: none;
    color: rgba(255, 255, 255, 0.87);
}

/* Styles for the filtered character list */
#searchCharContainer {
    max-height: 322.35px;
    width: 542px;
    overflow-y: scroll;
    color: black;
    border-radius: 0.25rem;
}

#searchCharsList {
    transform: translate(-42px, -26px);
}

#searchCharContainer::-webkit-scrollbar {
    width: 15px;
    background-color: black;
    border-bottom-right-radius: 0.25rem;
}

#searchCharContainer::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    outline: 0.5px solid black;
    border-radius: 0.2rem;
}

/* Filter image styling */
.charImg {
    width: 102.5px;
    height: 102.5px;
    object-fit: scale-down;
    padding-left: 10px;
}

/* Div with char image + name */
.searchChar {
    border: 1px #3a3a3a solid;
    border-radius: 0.25rem;
    background-color: white;
    font-size: larger;
    font-weight: 600;
}

.searchChar:hover {
    background-color: gray;
}

/* Search bar + icon */
#searchContainer {
    background-color: black;
    width: 672px;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: calc(var(--spacing) * 6);
    border-radius: 0.25rem;
}
